<div class="pagenation-buttons">
  <div>
    <button class="ui button" (click)="goto('first')" [ngClass]="!breakPoint?.isPhone ? 'large' : '' ">
      <i class="step backward icon"> </i>
    </button>
  </div>
  <div>
    <button class="ui button" (click)="goto('previous')" [ngClass]="!breakPoint?.isPhone ? 'large' : '' ">
      <i class="chevron left icon"> </i>
    </button>
  </div>
  <div>
    <button class="ui icon button" [ngClass]="!breakPoint?.isPhone ? 'large' : '' ">
      {{ activePage }} / {{ totalPages === 0 ? 1 : totalPages }}
    </button>
  </div>
  <div>
    <button class="ui button" (click)="goto('next')" [ngClass]="!breakPoint?.isPhone ? 'large' : '' ">
      <i class="chevron right icon"> </i>
    </button>
  </div>
  <div>
    <button class="ui button" (click)="goto('last')" [ngClass]="!breakPoint?.isPhone ? 'large' : '' ">
      <i class="step forward icon"> </i>
    </button>
  </div>
</div>