.card {
    margin: 10px  !important;
    width: 180px  !important;
    height: 200px  !important;
}
.image {
    width: 180px  !important;
    height: 120px  !important;
    background: #FFFFFF !important;
    cursor: pointer  !important;
}