.sort {
    font-size: 50px;
}

.search-by-name {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.6;
}

.search-by-icon {
    opacity: 0.6;
    cursor: pointer;
    margin: 5px 2px;
    background-color: #e8e8e8;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .radio-button {
    margin: 5px;
    font-size: 15px;
  }

  .search-by-panel {
    margin-top: 10px;
    margin-right: 10px;
    z-index: 100; 
    position: absolute;
    height: auto;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    border: solid 3px #f3f4f5;
    
}
.action-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .ui.divider {
    margin: 2px;
  }

  .search-by-items {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
  }
